@import '../../../core/colors';
@import '../../../core/dimens';

.bubble-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 0 25px;

  .bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: $primary;
    border-radius: 75px;
  }

  .bubble-icon {
    height: 40%;
    width: 40%;
  }

  .bubble-info-text {
    font-size: $navbar-size;
    color: $grey;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}