.bubble-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 0 25px;
}
.bubble-info-wrapper .bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background-color: #31B700;
  border-radius: 75px;
}
.bubble-info-wrapper .bubble-icon {
  height: 40%;
  width: 40%;
}
.bubble-info-wrapper .bubble-info-text {
  font-size: 25px;
  color: #7C7C7C;
}
.bubble-info-wrapper .bubble-info-text::first-letter {
  text-transform: uppercase;
}

/*# sourceMappingURL=bubbleInfo.css.map */
