.home {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  overflow-y: auto;
}

#showcase {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 140px);
}
#showcase .background {
  position: absolute;
  width: calc(100% + 300px);
  height: 250px;
  top: 160px;
  left: -50px;
}
#showcase .content {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}
#showcase .first-step {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  padding: 25px 0;
  box-sizing: border-box;
}
#showcase .first-step .description {
  color: #7C7C7C;
  font-size: 25px;
  letter-spacing: 3px;
  padding-left: 3px;
}
#showcase .first-step .description::first-letter {
  text-transform: uppercase;
}
#showcase .first-step .button-wrapper {
  margin-bottom: 100px;
}
#showcase .video-wrapper {
  width: 900px;
  height: 425px;
  margin: 0 10% 8% 0;
  background-color: #ffffff;
  box-shadow: 5px 5px 15px -5px #7C7C7C;
}
#showcase .see-bottom {
  position: absolute;
  bottom: 0;
  align-self: center;
  height: 75px;
  width: 40px;
  animation: pop 0.5s ease-in-out alternate;
  animation-iteration-count: infinite;
}

.tuto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.tuto .tuto-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 50%;
}
.tuto .buttons-container {
  display: flex;
  margin-top: 75px;
  width: 100%;
  justify-content: center;
}
.tuto .buttons-container .button-wrapper {
  margin: 0 50px;
}

.possibilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.possibilities .title {
  font-size: 35px;
  color: #31B700;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0;
}

@keyframes pop {
  from {
    transform: rotateZ(90deg) translateX(-5px);
  }
  to {
    transform: rotateZ(90deg) translateX(0px);
  }
}

/*# sourceMappingURL=home.css.map */
