@import '../../../core/colors';
@import '../../../core/dimens';

.home {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  overflow-y: auto;
}

#showcase {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - #{$headerHeight});

  .background {
    position: absolute;
    width: calc(100% + 300px);
    height: 250px;
    top: 160px;
    left: -50px;
  }

  .content {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
  }

  .first-step {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    padding: 25px 0;
    box-sizing: border-box;

    .description {
      color: $grey;
      font-size: $showcase-description;
      letter-spacing: 3px;
      padding-left: 3px;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    .button-wrapper {
      margin-bottom: 100px;
    }
  }

  .video-wrapper {
    width: 900px;
    height: 425px;
    margin: 0 10% 8% 0;
    background-color: $white;
    box-shadow: 5px 5px 15px -5px $grey;
  }

  .see-bottom {
    position: absolute;
    bottom: 0;
    align-self: center;
    height: 75px;
    width: 40px;
    animation: pop 0.5s ease-in-out alternate;
    animation-iteration-count: infinite;
  }
}

.tuto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;

  .tuto-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 50%;
  }

  .buttons-container {
    display: flex;
    margin-top: 75px;
    width: 100%;
    justify-content: center;

    .button-wrapper {
      margin: 0 50px;
    }
  }
}

.possibilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;

  .title {
    font-size: $articleTitle;
    color: $primary;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 0;
  }
}

@keyframes pop {
  from {
    transform: rotateZ(90deg) translateX(-5px);
  }
  to {
    transform: rotateZ(90deg) translateX(0px);
  }
}