@import "../../../core/colors";
@import "../../../core/dimens";

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  width: fit-content;

  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3px 5px;
    margin: 0 20px;
    color: $grey;
    font-size: $navbar-size;

    &:hover {
      .arrow-down {
        transform: rotateZ(-90deg);
      }

      .sub-menu {
        display: flex;
      }
    }
  }

  .head-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    letter-spacing: 3px;
    padding-left: 3px;

    .head-text {
      margin: 0;
      padding: 0;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    &:hover {
      color: $light-grey;
    }
  }

  .arrow-down {
    height: 15px;
    width: 15px;
    transform: rotateZ(90deg);
    margin-left: 15px;
    transition: all 0.2s ease-in-out;
  }

  .sub-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateY(100%);
    list-style: none;
    padding: 0;
  }

  .sub-item {
    text-align: start;
    padding: 3px 10px;
    cursor: pointer;
    font-size: $sub-menu-size;

    &:hover {
      color: $light-grey;
    }
  }
}