#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  width: fit-content;
}
#navbar .item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 3px 5px;
  margin: 0 20px;
  color: #7C7C7C;
  font-size: 25px;
}
#navbar .item:hover .arrow-down {
  transform: rotateZ(-90deg);
}
#navbar .item:hover .sub-menu {
  display: flex;
}
#navbar .head-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  letter-spacing: 3px;
  padding-left: 3px;
}
#navbar .head-item .head-text {
  margin: 0;
  padding: 0;
}
#navbar .head-item .head-text::first-letter {
  text-transform: uppercase;
}
#navbar .head-item:hover {
  color: #CCCCCC;
}
#navbar .arrow-down {
  height: 15px;
  width: 15px;
  transform: rotateZ(90deg);
  margin-left: 15px;
  transition: all 0.2s ease-in-out;
}
#navbar .sub-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateY(100%);
  list-style: none;
  padding: 0;
}
#navbar .sub-item {
  text-align: start;
  padding: 3px 10px;
  cursor: pointer;
  font-size: 15px;
}
#navbar .sub-item:hover {
  color: #CCCCCC;
}

/*# sourceMappingURL=navbar.css.map */
