@import '../../../core/colors';

.button-wrapper {
  position: relative;
  width: 250px;
  height: 50px;
  cursor: pointer;
  box-shadow: 3px 3px 5px -3px $grey;
  border-radius: 5px;
  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    content: '';
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.2s ease-in-out;
    box-sizing: border-box;
    border-radius: 5px;

    .label {
      color: $white;
      text-transform: uppercase;
      letter-spacing: 5px;
      padding-left: 5px;
      transition: color 0.2s ease-in-out;
    }

    &.primary {
      background-color: $primary;

      &:hover {
        background-color: $primary-70;
      }
    }

    &.edge-primary {
      border: 1px solid $primary;

      .label {
        color: $primary;
      }

      &:hover {
        background-color: $primary-50;

        .label {
          color: $white;
        }
      }
    }

    &.secondary {
      background-color: $secondary;

      &:hover {
        background-color: $secondary-70;
      }
    }

    &.disabled {
      background-color: $light-grey;
      color: $grey;
      cursor: not-allowed;
    }
  }
}