.button-wrapper {
  position: relative;
  width: 250px;
  height: 50px;
  cursor: pointer;
  box-shadow: 3px 3px 5px -3px #7C7C7C;
  border-radius: 5px;
  overflow: hidden;
}
.button-wrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  content: "";
}
.button-wrapper .button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.2s ease-in-out;
  box-sizing: border-box;
  border-radius: 5px;
}
.button-wrapper .button .label {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-left: 5px;
  transition: color 0.2s ease-in-out;
}
.button-wrapper .button.primary {
  background-color: #31B700;
}
.button-wrapper .button.primary:hover {
  background-color: rgba(49, 183, 0, 0.7);
}
.button-wrapper .button.edge-primary {
  border: 1px solid #31B700;
}
.button-wrapper .button.edge-primary .label {
  color: #31B700;
}
.button-wrapper .button.edge-primary:hover {
  background-color: rgba(49, 183, 0, 0.5);
}
.button-wrapper .button.edge-primary:hover .label {
  color: #ffffff;
}
.button-wrapper .button.secondary {
  background-color: #90D975;
}
.button-wrapper .button.secondary:hover {
  background-color: rgba(144, 217, 117, 0.7);
}
.button-wrapper .button.disabled {
  background-color: #CCCCCC;
  color: #7C7C7C;
  cursor: not-allowed;
}

/*# sourceMappingURL=buttons.css.map */
