#header {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 140px;
  overflow: visible;
}
#header .background {
  position: absolute;
  top: 20px;
  width: calc(100% + 200px);
  height: 150px;
}
#header .lang-selector {
  position: absolute;
  top: 5px;
  right: 20px;
  height: fit-content;
}

#logo {
  width: 200px;
  height: 50px;
  margin: 5px 0 0 20px;
  cursor: pointer;
  z-index: 1;
  transition: opacity 0.1s ease-in-out;
}
#logo:hover {
  opacity: 0.5;
}

#navbar {
  align-self: start;
  margin: 5px 0 0 150px;
}

/*# sourceMappingURL=header.css.map */
