@import '../../../core/dimens';

#header {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: $headerHeight;
  overflow: visible;

  .background {
    position: absolute;
    top: 20px;
    width: calc(100% + 200px);
    height: 150px;
  }

  .lang-selector {
    position: absolute;
    top: 5px;
    right: 20px;
    height: fit-content;
  }
}

#logo {
  width: 200px;
  height: 50px;
  margin: 5px 0 0 20px;
  cursor: pointer;
  z-index: 1;
  transition: opacity 0.1s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}

#navbar {
  align-self: start;
  margin: 5px 0 0 150px;
}