@import '../../../core/colors';

.video-wrapper {
  position: relative;
  display: flex;
  border-radius: 5px;
  overflow: hidden;

  .video-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    opacity: 0;
    background-color: $light-grey-50;
    transition: z-index 0s ease-in-out 0.3s, opacity 0.2s ease-in-out;
  }

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:hover {
    .video-modal {
      z-index: 1;
      opacity: 1;
      transition: z-index 0s ease-in-out, opacity 0.2s ease-in-out;
    }
  }
}