.video-wrapper {
  position: relative;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}
.video-wrapper .video-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  opacity: 0;
  background-color: rgba(204, 204, 204, 0.5);
  transition: z-index 0s ease-in-out 0.3s, opacity 0.2s ease-in-out;
}
.video-wrapper .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-wrapper:hover .video-modal {
  z-index: 1;
  opacity: 1;
  transition: z-index 0s ease-in-out, opacity 0.2s ease-in-out;
}

/*# sourceMappingURL=videos.css.map */
