.carousel-wrapper {
  position: relative;
  width: calc((370px * 3) + (70px * 2));
  overflow: hidden;
}
.carousel-wrapper .carousel-list {
  display: flex;
  list-style: none;
  overflow-x: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0 70px;
}
.carousel-wrapper .carousel-list::-webkit-scrollbar {
  width: 0;
}
.carousel-wrapper .item {
  min-width: 370px;
  height: 220px;
  background-color: #ffffff;
  cursor: pointer;
  padding: 25px;
  box-sizing: border-box;
  transition: opacity 0.3s ease-in-out;
}
.carousel-wrapper .item:hover {
  opacity: 0.7;
}
.carousel-wrapper .item-preview {
  width: 100%;
  height: 100%;
}
.carousel-wrapper .carousel-horizontal-fade {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to left, #ffffff, #00000000, #ffffff);
  pointer-events: none;
  box-sizing: border-box;
  overflow: visible;
}
.carousel-wrapper .carousel-horizontal-fade .arrow-wrapper {
  height: 30%;
  cursor: pointer;
  pointer-events: auto;
  transition: opacity 0.15s ease-in-out;
}
.carousel-wrapper .carousel-horizontal-fade .arrow-wrapper:hover {
  opacity: 0.5;
}
.carousel-wrapper .carousel-horizontal-fade .arrow {
  height: 100%;
}
.carousel-wrapper .carousel-horizontal-fade .arrow.left {
  transform: rotateZ(180deg);
}

/*# sourceMappingURL=carousel.css.map */
