@import '../../../core/colors';

$itemCarouselWidth: 370px;
$itemCarouselHeight: 220px;
$carouselMargin: 70px;

.carousel-wrapper {
  position: relative;
  width: calc((#{$itemCarouselWidth} * 3) + (#{$carouselMargin} * 2));
  overflow: hidden;

  .carousel-list {
    display: flex;
    list-style: none;
    overflow-x: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0 $carouselMargin;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .item {
    min-width: $itemCarouselWidth;
    height: $itemCarouselHeight;
    background-color: $white;
    cursor: pointer;
    padding: 25px;
    box-sizing: border-box;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }

  .item-preview {
    width: 100%;
    height: 100%;
  }

  .carousel-horizontal-fade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to left, $white, $transparent, $white);
    pointer-events: none;
    box-sizing: border-box;
    overflow: visible;

    .arrow-wrapper {
      height: 30%;
      cursor: pointer;
      pointer-events: auto;
      transition: opacity 0.15s ease-in-out;

      &:hover {
        opacity: 0.5;
      }
    }

    .arrow {
      height: 100%;

      &.left {
        transform: rotateZ(180deg);
      }
    }
  }
}