$primary: #31B700;
$secondary: #90D975;
$black: #000000;
$white: #ffffff;
$grey: #7C7C7C;
$light-grey: #CCCCCC;
$dark-grey: #525252;
$transparent: #00000000;


// Teintes

$primary-30: rgba($primary, 0.3);
$primary-50: rgba($primary, 0.5);
$primary-70: rgba($primary, 0.7);
$secondary-30: rgba($secondary, 0.3);
$secondary-50: rgba($secondary, 0.5);
$secondary-70: rgba($secondary, 0.7);
$light-grey-50: rgba($light-grey, 0.5);
