html, body, #root {
  height: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text {
  color: #000000;
}

/*# sourceMappingURL=index.css.map */
